@import "../../../../public/styles/colors.scss";
@import "../../../../public/styles//layouts.scss";

.searchBar{
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
}

.searchBarDiv{
    background-color: $light-grayish-orange;    
    height: 40vh;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url("https://miro.medium.com/max/4960/0*u6NzWQPoewSDsEu_");
    background-position: top;
    background-size: cover;
    margin-bottom: 0.5rem;
    box-shadow: 1px 8px 10px #888888;
}

.bannerTitle{
    margin: auto;
    text-align: center;
    width: 50vw;
    font-family: 'Montserrat', sans-serif;
    color: $white;
    font-size: 4rem;
}

.searchInput{
    display: flex;
    margin-left: 15px;
}