@import "../../../../public/styles/colors.scss";
@import "../../../../public/styles//layouts.scss";

.pageNumDiv{
    display: flex;
    margin: 20px;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.pageNumGroup{
    margin: auto;
}

.viewAllLink{
    text-decoration-line: inherit;
    color:inherit;
}

.button {
    color: #f5b461 !important;
    border-color: #f5b461 !important;
}