.gridContainer {
  width: 80% !important;
}

.cardContainer:hover {
  transform: scale(1.01);
  box-shadow: 5px 5px 8px #888888;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.cardInfoDiv {
  padding: 1.5rem 2rem;
}

div .cardInfo {
  margin-bottom: 2rem;
}
