@import "../../../../public/styles/colors.scss";
@import "../../../../public/styles//layouts.scss";

.navBar {
  background-color: $light-orange !important;
  clear: both;
  min-height: 4.5rem;
  justify-content: center;
  box-shadow: 1px 8px 10px #888888;
  font-family: 'Montserrat', sans-serif;
}

div .navBarTitle {
  flex-grow: 1;
  color: $white;
}

div .navBarIcon {
  font-size: 3rem;
  color: $dark-red;
  margin-right: 1rem;
}

.navBar .navBarBtn {
  margin: auto 10px;
  color: $dark-red;
}

.navBarBtn:hover{
  transform: scale(1.05);
}

.navBarHomeLink {
  text-decoration: inherit;
  color: inherit;
}
